<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Other Stylesheets -->
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>
    <header class="header-section" style="background-color: black;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <div class="logo" style="margin-bottom: 10px;">
                        <!-- Adjusted margin-top value -->
                        <a href="/">
                            <img src="~/img/logo.jpeg" alt="Logo">
                        </a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="nav-menu">
                        <ul>
                            <li class="active">
                                <div class="nav-item px-3">
                                    <a href="/Home/Index" class="nav-link">
                                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Home
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="nav-item px-3">
                                    <a href="/Employee/Login" class="nav-link">
                                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Employee
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="nav-item px-3">
                                    <a href="/Home/GetStarted" class="nav-link">
                                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Get Started
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="nav-item px-3">
                                    <a href="/Home/Login" class="nav-link">
                                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Login
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="top-option">
                        <div class="to-social">
                            <a href="https://github.com/davidfreitas51/IronGym"><i class="fa fa-github"></i></a>
                            <a href="https://www.linkedin.com/in/david-freitas51/"><i class="fa fa-linkedin"></i></a>
                            <a href="https://www.youtube.com/@@davidfreitas272/videos"><i class="fa fa-youtube-play"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="canvas-open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>

    <div>
        <main>
            @RenderBody()
        </main>
    </div>

    <footer>
        <section class="footer-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="fs-about">
                            <div class="fa-logo">
                                <a href="/"><img src="~/img/logo.jpeg" alt="Logo"></a>
                            </div>
                            <p>
                                IronGym is a role-based management system with JWT token-based authentication, email verification, and role-based access control via a REST API. It includes user management features and employee management for Admins. The project is covered by Unit Testing using FluentAssertions and FakeItEasy.
                            </p>
                            <div class="fa-social">
                                <a href="https://github.com/davidfreitas51/IronGym"><i class="fa fa-github"></i></a>
                                <a href="https://www.linkedin.com/in/david-freitas51/"><i class="fa fa-linkedin"></i></a>
                                <a href="https://www.youtube.com/@@davidfreitas272/videos"><i class="fa fa-youtube-play"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6">
                        <div class="fs-widget">
                            <h4>Useful links</h4>
                            <ul>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Classes</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6">
                        <div class="fs-widget">
                            <h4>Support</h4>
                            <ul>
                                <li><a href="/Login">Login</a></li>
                                <li><a href="#">My account</a></li>
                                <li><a href="#">Subscribe</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="fs-widget">
                            <h4>Tips &amp; Guides</h4>
                            <div class="fw-recent">
                                <h6><a href="#">Physical fitness may help prevent depression, anxiety</a></h6>
                                <ul>
                                    <li>3 min read</li>
                                    <li>20 Comment</li>
                                </ul>
                            </div>
                            <div class="fw-recent">
                                <h6><a href="#">Fitness: The best exercise to lose belly fat and tone up...</a></h6>
                                <ul>
                                    <li>3 min read</li>
                                    <li>20 Comment</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="copyright-text">
                            <p>
                                Copyright ©<script>document.write(new Date().getFullYear());</script> All rights reserved | This project is made by <a href="https://github.com/davidfreitas51/IronGym" target="_blank">David Freitas</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </footer>
</body>
</html>
