@model LoginViewModel

<section class="choseus-section spad">
    <div class="container">
        <div class="form-body" style="background-color: black; padding: 40px; border-radius: 8px; box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);">
            <div class="row justify-content-center">
                <div class="form-holder" style="max-width: 600px; width: 100%;">
                    <div class="form-content text-center">
                        <div class="form-items" style="margin-bottom: 30px;">
                            <h3 class="register-heading" style="font-size: 24px; color: #f36100; margin-bottom: 10px;">Employee login</h3>
                            <p class="register-subheading" style="color: white; font-size: 16px; margin-bottom: 20px;">Work here? Access the employee's area by filling the data below</p>
                            @if (TempData["MSG_S"] != null)
                            {
                                <div class="mt-3 mb-3" style="max-width: 300px; margin: auto;">
                                    <div style="border: 1px solid lightgreen; padding: 10px; border-radius: 5px; background-color: #f0fff0;">
                                        <span style="font-weight: 200; color: darkgreen;">@TempData["MSG_S"]</span>
                                    </div>
                                </div>
                            }

                            <form asp-action="Login" asp-controller="Employee" method="post" class="needs-validation" novalidate>
                                <div class="row justify-content-center">
                                    <div class="col-md-6 mb-3">
                                        <input asp-for="Email" class="form-control" type="email" name="email" placeholder="E-mail Address" required style="padding: 12px;" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="row justify-content-center">
                                    <div class="col-md-6 mb-3">
                                        <input asp-for="Password" class="form-control" type="password" name="password" placeholder="Password" required style="padding: 12px;" />
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                </div>
                                <a asp-action="LoginDefaultEmployee" asp-controller="Employee" class="nav-link" style="color: #3498db;">
                                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Use default employee account
                                </a>
                                <a asp-action="LoginDefaultManager" asp-controller="Admin" class="nav-link" style="color: #3498db;">
                                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Use default manager account
                                </a>

                                @if (ViewBag.Errors != null)
                                {
                                    <div class="mt-3">
                                        <span class="text-danger">@ViewBag.Errors</span>
                                    </div>
                                }
                                <div style="margin-top: 10px;"></div>
                                <button type="submit" style="padding: 14px 28px; font-size: 16px; background-color: rgb(243, 97, 0); color: #fff; border: none; border-radius: 4px; cursor: pointer;">Login</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>